// SPDX-License-Identifier: BSD-3-Clause
// Copyright (c) 2024-2025 Xuan Tan. All rights reserved.

#pragma code_page(65001) // UTF-8

#include "resource.h"


#if defined(VER_FILEVERSION) || defined(VER_PRODUCTVERSION) || defined(VER_FILEFLAGSMASK) || defined(VER_FILEFLAGS) || defined(VER_FILEOS) || defined(VER_FILETYPE) || defined(VER_FILESUBTYPE)
#ifndef VER_FILEVERSION
#define INFO_FILEVERSION
#else
#define INFO_FILEVERSION    FILEVERSION    VER_FILEVERSION
#endif

#ifndef VER_PRODUCTVERSION
#define INFO_PRODUCTVERSION
#else
#define INFO_PRODUCTVERSION PRODUCTVERSION VER_PRODUCTVERSION
#endif

#ifndef VER_FILEFLAGSMASK
#define INFO_FILEFLAGSMASK
#else
#define INFO_FILEFLAGSMASK  FILEFLAGSMASK  VER_FILEFLAGSMASK
#endif

#ifndef VER_FILEFLAGS
#define INFO_FILEFLAGS
#else
#define INFO_FILEFLAGS      FILEFLAGS      VER_FILEFLAGS
#endif

#ifndef VER_FILEOS
#define INFO_FILEOS
#else
#define INFO_FILEOS         FILEOS         VER_FILEOS
#endif

#ifndef VER_FILETYPE
#define INFO_FILETYPE
#else
#define INFO_FILETYPE       FILETYPE       VER_FILETYPE
#endif

#ifndef VER_FILESUBTYPE
#define INFO_FILESUBTYPE
#else
#define INFO_FILESUBTYPE    FILESUBTYPE    VER_FILESUBTYPE
#endif

#define VERSIONINFO_BLOCK \
VS_VERSION_INFO VERSIONINFO \
INFO_FILEVERSION \
INFO_PRODUCTVERSION \
INFO_FILEFLAGSMASK \
INFO_FILEFLAGS \
INFO_FILEOS \
INFO_FILETYPE \
INFO_FILESUBTYPE
#endif


#if !(defined(VER_VERSION_UNICODE_LANG) || defined(VER_COMMENTS) || defined(VER_COMPANYNAME_STR) || defined(VER_FILEDESCRIPTION_STR) || defined(VER_FILEVERSION_STR) || defined(VER_INTERNALNAME_STR) || defined(VER_LEGALCOPYRIGHT_STR) || defined(VER_LEGALTRADEMARKS_STR) || defined(VER_ORIGINALFILENAME_STR) || defined(VER_PRIVATEBUILD) || defined(VER_PRODUCTNAME_STR) || defined(VER_PRODUCTVERSION_STR) || defined(VER_SPECIALBUILD))
#define STRINGFILEINFO_BLOCK
#else
#ifdef VER_LANGNEUTRAL
#ifndef VER_VERSION_UNICODE_LANG
#define VER_VERSION_UNICODE_LANG "000004B0" // LANG_NEUTRAL/SUBLANG_NEUTRAL, Unicode CP
#endif
#else
#ifndef VER_VERSION_UNICODE_LANG
#define VER_VERSION_UNICODE_LANG "040904B0" // LANG_ENGLISH/SUBLANG_ENGLISH_US, Unicode CP
#endif
#endif

#ifndef VER_COMMENTS
#define VAL_COMMENTS
#else
#define VAL_COMMENTS             VALUE "Comments",         VER_COMMENTS
#endif

#ifndef VER_COMPANYNAME_STR
#define VAL_COMPANYNAME_STR
#else
#define VAL_COMPANYNAME_STR      VALUE "CompanyName",      VER_COMPANYNAME_STR
#endif

#ifndef VER_FILEDESCRIPTION_STR
#define VAL_FILEDESCRIPTION_STR
#else
#define VAL_FILEDESCRIPTION_STR  VALUE "FileDescription",  VER_FILEDESCRIPTION_STR
#endif

#ifndef VER_FILEVERSION_STR
#define VAL_FILEVERSION_STR
#else
#define VAL_FILEVERSION_STR      VALUE "FileVersion",      VER_FILEVERSION_STR
#endif

#ifndef VER_INTERNALNAME_STR
#define VAL_INTERNALNAME_STR
#else
#define VAL_INTERNALNAME_STR     VALUE "InternalName",     VER_INTERNALNAME_STR
#endif

#ifndef VER_LEGALCOPYRIGHT_STR
#define VAL_LEGALCOPYRIGHT_STR
#else
#define VAL_LEGALCOPYRIGHT_STR   VALUE "LegalCopyright",   VER_LEGALCOPYRIGHT_STR
#endif

#ifndef VER_LEGALTRADEMARKS_STR
#define VAL_LEGALTRADEMARKS_STR
#else
#define VAL_LEGALTRADEMARKS_STR  VALUE "LegalTrademarks",  VER_LEGALTRADEMARKS_STR
#endif

#ifndef VER_ORIGINALFILENAME_STR
#define VAL_ORIGINALFILENAME_STR
#else
#define VAL_ORIGINALFILENAME_STR VALUE "OriginalFilename", VER_ORIGINALFILENAME_STR
#endif

#ifndef VER_PRIVATEBUILD
#define VAL_PRIVATEBUILD
#else
#define VAL_PRIVATEBUILD         VALUE "PrivateBuild",     VER_PRIVATEBUILD
#endif

#ifndef VER_PRODUCTNAME_STR
#define VAL_PRODUCTNAME_STR
#else
#define VAL_PRODUCTNAME_STR      VALUE "ProductName",      VER_PRODUCTNAME_STR
#endif

#ifndef VER_PRODUCTVERSION_STR
#define VAL_PRODUCTVERSION_STR
#else
#define VAL_PRODUCTVERSION_STR   VALUE "ProductVersion",   VER_PRODUCTVERSION_STR
#endif

#ifndef VER_SPECIALBUILD
#define VAL_SPECIALBUILD
#else
#define VAL_SPECIALBUILD         VALUE "SpecialBuild",     VER_SPECIALBUILD
#endif

#define STRINGFILEINFO_BLOCK \
    BLOCK "StringFileInfo" \
    BEGIN \
        BLOCK VER_VERSION_UNICODE_LANG \
        BEGIN \
            VAL_COMMENTS \
            VAL_COMPANYNAME_STR \
            VAL_FILEDESCRIPTION_STR \
            VAL_FILEVERSION_STR \
            VAL_INTERNALNAME_STR \
            VAL_LEGALCOPYRIGHT_STR \
            VAL_LEGALTRADEMARKS_STR \
            VAL_ORIGINALFILENAME_STR \
            VAL_PRIVATEBUILD \
            VAL_PRODUCTNAME_STR \
            VAL_PRODUCTVERSION_STR \
            VAL_SPECIALBUILD \
        END \
    END
#endif


#ifndef VER_VERSION_TRANSLATION
#define VARFILEINFO_BLOCK
#else
#define VARFILEINFO_BLOCK \
    BLOCK "VarFileInfo" \
    BEGIN \
        VALUE "Translation", VER_VERSION_TRANSLATION \
    END
#endif


#ifdef VERSIONINFO_BLOCK
VERSIONINFO_BLOCK
BEGIN
STRINGFILEINFO_BLOCK
VARFILEINFO_BLOCK
END
#endif