/*
    Copyright (c) 2024, vxtan27, all rights reserved.
    Licensed under the BSD-3-Clause.
*/

#include <verrsrc.h>

#pragma code_page(65001)

#define LANG_CHARSET "000004B0"

#define VER_FILEVERSION         2, 0, 0, 0
#define VER_PRODUCTVERSION      2, 0, 0, 0
#define STR_FILEDESCRIPTION     L"x64 Windows Debugging Utility"
#define STR_FILEVERSION         L"2.0.0"
#define STR_LEGALCOPYRIGHT      L"(c) 2024, vxtan27, all rights reserved."
#define STR_LEGALTRADEMARKS     L"BSD-3-Clause License"
#define STR_ORIGINALFILENAME    L"w64dbg.exe"
#define STR_PRODUCTNAME         L"w64dbg"
#define STR_PRODUCTVERSION      L"2.0.0"

#ifndef _DEBUG
    #define VER_DEBUG 0x0L
#else
    #define VER_DEBUG VS_FF_DEBUG
#endif

VS_VERSION_INFO VERSIONINFO
    FILEVERSION       VER_FILEVERSION
    PRODUCTVERSION    VER_PRODUCTVERSION
    FILEFLAGSMASK     0x0L
    FILEFLAGS         VER_DEBUG
    FILEOS            VOS_NT
    FILETYPE          VFT_APP
    FILESUBTYPE       VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK LANG_CHARSET
        BEGIN
            VALUE "FileDescription",     STR_FILEDESCRIPTION
            VALUE "FileVersion",         STR_FILEVERSION
            VALUE "LegalCopyright",      STR_LEGALCOPYRIGHT
            VALUE "LegalTrademarks",     STR_LEGALTRADEMARKS
            VALUE "OriginalFilename",    STR_ORIGINALFILENAME
            VALUE "ProductName",         STR_PRODUCTNAME
            VALUE "ProductVersion",      STR_PRODUCTVERSION
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0000, 1200
    END
END