// SPDX-License-Identifier: BSD-3-Clause
// Copyright (c) 2024-2025 Xuan Tan. All rights reserved.

#pragma code_page(65001)

#include <verrsrc.h>

VS_VERSION_INFO VERSIONINFO
  FILEVERSION 1,0,0,1
  PRODUCTVERSION 1,0,0,1
  FILEFLAGSMASK 0x3F
#ifdef _DEBUG
  FILEFLAGS 0x1
#else
  FILEFLAGS 0x0
#endif
  FILEOS 0x40004
  FILETYPE 0x1
  FILESUBTYPE 0x0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription", "w64dbg"
            VALUE "FileVersion", "1.0.0.1"
            VALUE "LegalCopyright", "© 2024-2025 Xuan Tan. All rights reserved."
            VALUE "ProductName", "w64dbg"
            VALUE "ProductVersion", "1.0.0.1"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END